.navbar {
    background: none repeat scroll 0 0 #f8f8f8;
}

    .navbar .navbar-brand {
        color: #777;
        font-size: 18px;
        text-shadow: none;
    }

.nav-second-level.sub_menu.collapse {
    display: none;
}

    .nav-second-level.sub_menu.collapse.in {
        display: block;
    }

.nav-third-level.sub_menu.collapse {
    display: none;
}

    .nav-third-level.sub_menu.collapse.in {
        display: block;
    }


#side-menu ul > li > ul {
    left: 100%;
    min-width: 100%;
    position: absolute;
    background-color: #f8f8f8;
    top: 0;
}

.page-header h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 8px;
    padding: 0;
}

h1 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: normal;
}

#ModuleHead {
    padding-left: 3px;
}

.form-group {
    margin-bottom: 15px;
}

li.light-blue > a {
    background-color: #62A8D1;
}

.white {
    color: #777;
}

.footer {
    padding: 10px 10px 10px 10px;
    font-size: 11px;
    border-top: 1px solid #DDDDDD;
}

.next {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #428BCA;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.paginate_button {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #428BCA;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.paginate_active {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    cursor: default;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 7px 12px;
    position: relative;
    text-decoration: none;
}

    .paginate_active:hover {
        background-color: #428BCA;
        border-color: #428BCA;
        color: #FFFFFF;
        cursor: default;
        float: left;
        line-height: 1.42857;
        margin-left: -1px;
        padding: 7px 12px;
        position: relative;
        text-decoration: none;
    }

.tab-padding {
    padding: 20px 10px;
}


.filter-padding div.col-sm-3 label.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.85em;
}

.filter-padding div.col-sm-3 .col-sm-8 {
    padding-right: 0;
    font-size: 0.85em;
}

.Chk > label {
    padding-left: 3px;
    padding-right: 10px;
}

div.col-sm-9 .custom-checkbox input {
    margin-left: 15px;
    margin-right: 5px;
}

    div.col-sm-9 .custom-checkbox input:first-child {
        margin-left: 0px;
    }

.grid-error-msg, .grid-error-msg-first-task {
    color: #FF0000;
    font-size: 0.8em;
}

.doc-group-head {
    width: 100%;
    background-color: #428BCA;
    border: none;
    color: White;
}

.doc-group-items {
    width: 100%;
    border: none;
    color: #428BCA;
    background-color: White;
}

.doc-group-head > tbody > tr > td {
    border-bottom: 15px solid #ffffff;
}

.req-doc {
    color: #FF0000;
    float: left;
    margin-left: 5px;
}

.doc-links {
    cursor: pointer;
}

.doc-links-reupload {
    cursor: pointer;
    color: #F0AD4E;
}

.samplefile {
    padding-left: 25px;
}

.margin-top-5 {
    margin-top: 5px;
}

#side-menu li > a:after {
    content: "\f105";
    float: right;
    font-family: FontAwesome;
}

#side-menu > li > a:after {
    content: "\f105";
    float: right;
    font-family: FontAwesome;
}

#side-menu > li.active > a:after {
    content: "\f107";
    float: right;
    font-family: FontAwesome;
}

#side-menu li > a:only-child:after {
    content: '';
}

#side-menu {
    margin-top: 10px;
}

    #side-menu li {
        display: block;
        position: relative;
    }

        #side-menu li .fa.arrow:before {
            content: "";
        }

    #side-menu ul {
        max-width: 99%;
        padding-left: 0px;
        position: relative;
        top: 0;
        border-radius: 0;
    }

        #side-menu ul:before {
            content: 'a';
            font-size: 0;
            height: 14px;
            left: 4px;
            position: absolute;
            top: 13px;
            width: 10px;
            display: none;
        }
        /*
#side-menu li:hover > ul
{
    display: block;
}
*/
        #side-menu ul > li > ul {
            display: none;
            left: 100%;
            min-width: 100%;
            position: absolute;
            padding-left: 10px;
            top: 0;
        }

    #side-menu li > ul > li:hover > ul {
        display: block;
    }

#side-menu-toggle {
    color: White;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 21px;
}

@media(max-width:750px) {
    #side-menu ul.collapse.in {
        position: relative;
        display: block;
        left: 0;
    }

        #side-menu ul.collapse.in:before {
            display: none;
        }
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid ##ff0000;
    background-color: ##FF0000;
}

.validation-summary-errors {
    font-weight: bold;
    /*color: #ff0000;*/
}

.validation-summary-valid {
    display: none;
}

.grey {
    border-bottom: 1px solid #E1E0DF;
    padding-bottom: 5px;
}

.pageNavingation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .pageNavingation > * {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .pageNavingation {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

        .pageNavingation > .pageCount {
            text-align: right;
        }
}

#btntoggletoolbar {
    background: -moz-linear-gradient(center top,#CCC,#999) repeat scroll 0 0 rgba(0,0,0,0);
    border: 1px solid #555;
    bottom: 0;
    box-shadow: 0 1px 5px #777,0 -1px 0 #999,0 -1px 0 #ABABAB inset,0 -2px 1px #999 inset;
    cursor: pointer;
    display: block !important;
    height: 36px;
    margin: 0 0 20px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
    position: fixed;
    right: 0;
    vertical-align: middle;
    width: 120px;
}

.linkbtntoggletoolbar {
    color: #333;
    padding-bottom: 5px;
    text-shadow: 0 2px 0 #CCC;
}

#toolbarpanel {
    background-color: #FFF;
    position: fixed;
    right: 0;
    bottom: 75px;
    border: 5px solid #999;
    z-index: 999;
    width: 500px;
    /*bottom: 59px;
    height: 550px;
    position: fixed;
    right: 0;
    width: 0;*/
}

    #toolbarpanel .rtoolbar {
        /*margin: 5px;*/
        padding: 15px;
        max-height: 80vh;
        overflow-y: auto;
    }

/*** Icon Menu ***/

.icon-menu .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none !important;
}


/*** For ICon In PageHeader ***/

.icon-menu-wrapper .icon-menu {
    text-align: right;
}

.icon-menu a {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 8px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

    .icon-menu a .glyphicon-plus {
        left: 1px;
        position: relative;
    }

    .icon-menu a:focus, icon-menu a:hover {
        outline: none;
        text-decoration: none;
    }

.targetDiv {
    display: none;
}

.icon-content {
    position: relative;
    z-index: 9;
}

    .icon-content .targetDiv {
        background: none repeat scroll 0 0 #F5F5F5;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        padding: 15px 15px 5px;
        position: relative;
        right: 0;
        z-index: 1;
        margin-top: 25px;
    }

.targetDiv.big {
    width: 207%;
    left: -107%;
}

@media screen and (max-width:767px) {
    .icon-content .targetDiv {
        /* width:210%;
        left:-110%; */
    }
}

.icon-content .btn {
    padding: 5px;
}

.icon-content .form-control {
    width: 100%;
}

.icon-menu a {
    z-index: 10;
    position: relative;
    cursor: pointer;
}

    .icon-menu a:before {
        background: none repeat scroll 0 0 #F5F5F5;
        box-shadow: -1px -1px 1px #BBBBBB;
        content: "";
        height: 20px;
        left: 6px;
        opacity: 0;
        position: absolute;
        top: 42px;
        transform: rotate(45deg);
        transition: bottom 0.5s ease 0s, opacity 0.2s ease 0s;
        width: 20px;
    }

    .icon-menu a.activated:before {
        bottom: -20px;
        opacity: 1;
        transition: 0.5s bottom, 0.5s opacity;
        z-index: 11;
    }

.icon-content #div4 {
    border-top-right-radius: 0;
}

    .icon-content #div4 ul {
        list-style: none;
        padding-left: 0;
    }

        .icon-content #div4 ul li {
            list-style-type: none;
        }

            .icon-content #div4 ul li a {
                color: #333;
            }

@media screen and (max-width:400px) {
    .icon-menu-wrapper, #ModuleHead {
        width: 100%;
    }

        .icon-menu-wrapper .icon-menu {
            text-align: center;
            margin-top: 15px;
        }

            .icon-menu-wrapper .icon-menu a {
                margin: 7px;
            }

    .icon-content > .targetDiv {
        left: 0;
        width: 100%;
    }
}

@media screen and (min-width:767px) {
    .icon-content > .targetDiv {
        position: absolute;
        box-shadow: 0 0px 3px #bbb;
    }

    .icon-content #div4 {
        border-top-right-radius: 0;
    }
}

.req {
    color: red;
}

#validationSummary ul li {
    text-align: inherit;
    text-transform: lowercase;
}

    #validationSummary ul li::first-letter {
        text-transform: uppercase;
    }

a.RemoveImage {
    display: flex;
    width: 20%;
    margin-top: 8px;
}

#dropZone {
    background: skyblue;
    border: black dashed 3px;
    width: 200px;
    height: 10px;
    padding: 50px;
    text-align: center;
    color: white;
}

div#DataTags tr:first-child .BtnMinus {
    display: none;
}

div#DataTags tr .BtnPlus {
    display: none;
}

div#DataTags tr:last-child .BtnPlus {
    display: block;
}

.panel-title:hover {
    cursor: pointer;
}

.req {
    color: #a94442;
}

.footer {
    margin-top: 10px;
}

td.text-success, td.text-danger, td.text-warning {
    font-weight: 600;
}
