
@{
    ViewBag.Title = "Error500";
}


<div class="row">
    <div class="col-xs-12 page-header">
        <div class="row">
            <div id="ModuleHead" class="col-xs-6">
                <h1>
                    <i class="fa fa-warning text-yellow"></i>&nbsp;500 Error
                </h1>
            </div>
        </div>

    </div>
</div>
<div class="row text-center">
    <h1>
        <i class="fa fa-warning text-yellow"></i> Oops! 500 Error.
    </h1>
    <p>
        Something went wrong and we couldn't process your request..
    </p>
</div>

