@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MCS_Action</title>
</head>
<body>
    <div>
        <h2>Welcome To MCS View</h2>
    </div>
</body>
</html>
