@model PagedList.IPagedList<ModuleEntity>
@using PagedList.Mvc;
@*@model List<ModuleEntity>*@

<ul id="menu">
    @foreach (var item in Model)

    {
        <li>
            @*@Html.ActionLink(@item.PageName, @item.ActionName,*@
            @Html.DisplayFor(modelItem => item.ActionName)
            @Html.DisplayFor(modelItem => item.ControllerName)
              @*@item.ControllerName)*@
        </li>
    }
</ul>

