@model IEnumerable<Common.Entity.Leaveentiy>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("", "Leave", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<input class="modalTextInput form-control" placeholder="Text Here" id="rejectedreason" />*@
                        @Html.TextAreaFor(model => model.leavereason, new { @class = "modalTextInput form-control", @maxlength = "250" })
                        @*@Html.TextArea( new { @class = "modalTextInput form-control", @maxlength = "250" })*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="saveEdit btn btn-primary">Save changes</button>
                    </div>
                }

            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                @*<td>Some data here</td>*@
                <td>
                    <button class="btn btn-success btn-sm" data-id="1" data-toggle="modal" data-target="#exampleModal">Edit</button>
                      
                </td>
            </tr>

        </tbody>
    </table>

    <p class="recentNote"></p>
    <script type="text/javascript">
        $(function () {
            $('#exampleModal').on('show.bs.modal', function (e) {
                $('.modalTextInput').val('');
                debugger
                let btn = $(e.relatedTarget); // e.related here is the element that opened the modal, specifically the row button
                let id = btn.data('id'); // this is how you get the of any `data` attribute of an element
                $('.saveEdit').data('id', id); // then pass it to the button inside the modal
            })

            $('.saveEdit').on('click', function () {
                let id = $(this).data('id'); // the rest is just the same
                saveNote(id);
                $('#exampleModal').modal('toggle'); // this is to close the modal after clicking the modal button
            })
        })

        function saveNote(id) {
            let text = $('.modalTextInput').val();
            $('.recentNote').data('note', text);
            console.log($('.recentNote').data('note'));
            console.log(text + ' --> ' + id);
        }
    </script>
